---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Blog | JasperDeLanghe" activePage="blog">
  <main
    class="container mx-auto max-w-5xl px-4 md:pl-16 lg:pl-20 xl:pl-4 mt-12 lg:mt-20"
  >
    <div
      class="field-group-wrapper container mx-auto prose lg:prose-lg prose-slate"
    >
      <div
        class="field field--name-field-introduction field--type-string-long field--label-hidden field__item"
      >
        Jan en Hubert Van Eyck leven in de Middeleeuwen en leiden een mysterieus
        leven. Veel geschreven bronnen zijn er niet, maar wat vast staat, is de
        verbinding tussen de broers en Gent met het schilderij ‘De Aanbidding
        van het Lam Gods’ uit 1432. De broers schilderen het werk met een
        opmerkelijk oog voor detail en laten enkele raadsels onopgelost. Nog
        niet overtuigd om het Lam Gods te bewonderen? We geven je graag nog 8
        extra redenen.
      </div>

      <div
        class="field field--name-field-paragraphs field--type-entity-reference-revisions field--label-hidden field__items"
      >
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>1. Het zwervende Lam</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >Zoals je misschien weet, is het Lam Gods onlosmakelijk
                      verbonden met de Sint-Baafskathedraal in Gent. Toch heeft
                      het niet altijd zo’n rustig bestaan gekend. Het schilderij
                      belandt tijdens de <strong>Franse Revolutie</strong> in 1789
                      in Parijs. De Franse troepen vallen de kathedraal binnen en
                      nemen het meesterwerk mee met paard en kar. Het is de Engelse
                      Hertog van Wellington die het altaarstuk terug naar de Sint-Baafskathedraal
                      brengt.
                    </span>
                  </span>
                </span>
              </p>

              <p>
                <span
                  ><span
                    ><span
                      >Een jaar later worden zes panelen verkocht aan
                      kunsthandelaar L. J. Nieuwenhuys voor 3000 gulden.
                      Uiteindelijk komen de panelen in het bezit van de koning
                      van Pruisen. Na de <strong>Eerste Wereldoorlog</strong> is
                      Duitsland verplicht de panelen als <strong
                        >oorlogsschuld
                      </strong> terug te geven aan België. Tijdens de <strong
                        >Tweede Wereldoorlog
                      </strong> belandt het veelluik in de zoutmijn van het Oostenrijkse
                      Altaussee. Hier verbergt Hitler verschillende topstukken in
                      afwachting van zijn nieuw museum. Aan het einde van de oorlog
                      willen hooggeplaatste mannen in het Duitse leger van Hilter
                      de zoutmijn met alle kunst opblazen. Enkele heldhaftige mijnwerkers
                      houden de vernietiging van Het Lam Gods tegen. Ze voorkomen
                      een grote ramp in de kunstgeschiedenis! <a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="7dc1e870-0fb4-4f20-a063-d78f1505e03d"
                        href="/nl/zien-doen/bezoekerscentrum-sint-baafskathedraal"
                        title="Bezoekerscentrum Sint-Baafskathedraal"
                        >Het Lam Gods keert na een lange tijd terug naar zijn
                        thuishaven, de Sint-Baafskathedraal
                      </a>.
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--image paragraph--view-mode--default"
          >
            <figure>
              <div
                class="field field--name-field-media-image field--type-entity-reference field--label-hidden field__item"
              >
                <div>
                  <div
                    class="field field--name-field-media-image field--type-image-with-copyright field--label-hidden field__item"
                  >
                    <img
                      src="https://visit.gent.be/sites/default/files/styles/paragraph_image/public/img/article/hero/lam%20met%204%20oren.jpg?itok=4rwD_Y8I"
                      width="480"
                      height="480"
                      alt="Lamb"
                      loading="lazy"
                      typeof="foaf:Image"
                      class="image-style-paragraph-image"
                    />
                  </div>
                </div>
              </div>

              <figcaption>
                <div
                  class="field field--name-field-image-caption field--type-string field--label-hidden field__item"
                >
                  Het Lam
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>2. De stoutmoedige diefte</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >De ene restauratie volgt de andere op en panelen worden
                      gestolen, teruggevonden en gekopieerd. De <strong
                        >diefstal van de panelen <em
                          >De Rechtvaardige Rechters
                        </em>en
                      </strong><em><strong> Johannes de Doper</strong></em>van
                      het Lam Gods, ook wel de ‘stoutmoedige diefte<strong
                        >’
                      </strong> genoemd, kon er ook wel nog bij! Op de nacht van
                      11 april 1934 merken twee getuigen vage schimmen van twee individuen
                      op. Ze leggen plankvormige voorwerpen in hun auto. De twee
                      schimmen verdwijnen met de noorderzon, samen met de twee panelen.
                      Een briefje met het opschrift ‘Van Duitsland afgenomen door
                      het Verdrag van Versailles’ is het enige wat overblijft. Enkele
                      weken later krijgt de kathedraal een brief met de <strong
                        >eis voor 1 miljoen Belgische frank losgeld
                      </strong>. De kathedraal wil het losgeld niet betalen en
                      na enkele briefwisselingen geeft de dief het paneel van <em
                        >Johannes De Doper
                      </em> terug. Het <strong
                        >mysterie van <em>De Rechtvaardige Rechters</em> blijft tot
                        op heden onopgelost
                      </strong>. Er bestaan heel wat spannende theorieën, maar
                      niemand heeft dé bevrijdende aanwijzing!
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--image paragraph--view-mode--default"
          >
            <figure>
              <div
                class="field field--name-field-media-image field--type-entity-reference field--label-hidden field__item"
              >
                <div>
                  <div
                    class="field field--name-field-media-image field--type-image-with-copyright field--label-hidden field__item"
                  >
                    <img
                      src="https://visit.gent.be/sites/default/files/styles/paragraph_image/public/img/article/photos/johannes%20de%20doper.jpg?itok=fcDQhjXr"
                      width="480"
                      height="480"
                      alt="Johannes de Doper"
                      loading="lazy"
                      typeof="foaf:Image"
                      class="image-style-paragraph-image"
                    />
                  </div>
                </div>
              </div>

              <figcaption>
                <div
                  class="field field--name-field-image-caption field--type-string field--label-hidden field__item"
                >
                  Johannes de Doper
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>3. De finalist Jan Van Eyck</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >De Gentse schepen <strong
                        >Joos Vijd en zijn vrouw Elisabeth Borluut
                      </strong> geven de opdracht aan Jan en Hubert om Het Lam Gods
                      te schilderen. Ze laten een extra kapel bouwen in de Sint-Baafskathedraal,
                      speciaal voor het werk. De kapel wordt de Vijdkapel gedoopt.
                      Wat je waarschijnlijk niet weet, is dat vooral Jan Van Eyck
                      Het Lam Gods schildert. Hubert Van Eyck geeft de aanzet voor
                      het schilderij, maar niemand weet exact wat zijn bijdrage is.
                      Hij sterft namelijk in de beginfase van het meesterwerk. <strong
                        >Jan maakt Het Lam Gods af in 1432
                      </strong>.
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>4. Z’n microscopisch oog</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >Jan is een waar genie!<strong> </strong>Hij
                      perfectioneert als eerste het schilderen met <strong
                        >olieverf
                      </strong>. Niet alleen kan hij overweg met de
                      verftechniek, ook zijn oog voor detail is fenomenaal! Het
                      oog van Jan Van Eyck opereert als microscoop en telescoop.
                      Hij schildert <strong
                        >als één van de eersten ooit een realistische maan
                      </strong>met maankraters. Jan Van Eyck werkt als <strong
                        >hofschilder
                      </strong> aan het hof bij Filips De Goede, en vertoeft hij
                      in de diplomatieke wereld. Door de reizen die hij met Filips
                      De Goede maakt, leert hij nieuwe fauna en flora kennen. Achteraf
                      schildert hij die moeiteloos gedetailleerd&nbsp;<a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="632d410b-02c7-4770-8b4f-421c1a3f83b2"
                        href="/nl/zien-doen/lam-gods-goddelijk-artistiek-hoogtepunt"
                        title="Lam Gods, goddelijk artistiek hoogtepunt"
                        >op Het Lam Gods
                      </a>. Wist je dat de rotsen op het schilderij zouden
                      gebaseerd zijn op rotsen in Luik of Dinant? Hij had die
                      nooit kunnen schilderen zonder zijn ongelofelijk <strong
                        >fotografisch geheugen
                      </strong>! Jan schilderde Joos Vijd, de opdrachtgever,
                      niet zo mooi mogelijk maar zo realistisch mogelijk,
                      inclusief ongeschoren baard en puisten. <strong
                        >De details
                      </strong> in het werk zijn fenomenaal!
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--image paragraph--view-mode--default"
          >
            <figure>
              <div
                class="field field--name-field-media-image field--type-entity-reference field--label-hidden field__item"
              >
                <div>
                  <div
                    class="field field--name-field-media-image field--type-image-with-copyright field--label-hidden field__item"
                  >
                    <img
                      src="https://visit.gent.be/sites/default/files/styles/paragraph_image/public/img/article/photos/Maan%20op%20LG.jpg?itok=UZpKVl1k"
                      width="480"
                      height="480"
                      alt="De maan op het Lam Gods"
                      loading="lazy"
                      typeof="foaf:Image"
                      class="image-style-paragraph-image"
                    />
                  </div>
                </div>
              </div>

              <figcaption>
                <div
                  class="field field--name-field-image-caption field--type-string field--label-hidden field__item"
                >
                  De maan op het Lam Gods
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>5. De komeet Van Eyck</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >Jan Van Eyck komt de kunstgeschiedenis binnen als ‘een
                      komeet’. Weinig bronnen vertellen ons over zijn leven of
                      evolutie, maar plots was hij daar, als één van de beste
                      schilders van zijn tijd. Hij heeft een <strong
                        >unieke en revolutionaire stijl
                      </strong>, waardoor hij niet past in het rijtje van zijn
                      voorgangers of tijdgenoten. Vele kunstliefhebbers spreken
                      vol lof over zijn bekendste werk, het Lam Gods. De legende
                      gaat bijvoorbeeld dat Hugo Van der Goes gek werd toen hij
                      het wou evenaren, en zich naar verluidt om die reden van
                      het leven beroofde. Jan Van Eyck zou verschillende
                      kunstenaars geïnspireerd hebben, zoals Hans Memling, Dirk
                      Bouts en Gerard David. De 15de eeuw mag zonder overdrijven<strong
                      >
                        de eeuw van Van Eyck
                      </strong>genoemd worden. Jan Van Eyck staat zelfs nog een
                      trapje hoger dan Da Vinci!
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>6. Mysteries en raadsels</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >Het Lam Gods is een uniek werk met heel wat <strong
                        >onbeantwoorde raadsels en mysteries
                      </strong>. Zo zou op het paneel met het stadszicht en S<em
                        >ibille van Eritrea
                      </em> een menselijk gezicht te zien zijn in de lucht, waarvan
                      niemand weet wie het precies voorstelt. De skyline op het centrale
                      paneel zou een collage zijn van fictieve en echte gebouwen.
                      Tijdens een restauratie van Het Lam Gods in 1951 dook een nieuw
                      paar oren op aan het lam. De oren van het dier werden tijdens
                      aanpassingen rond 1550 overschilderd. Je kon het buitenaardse,
                      mysterieuze dier met vier oren een tijdje bezichtigen tijdens
                      de restauratie in de Sint-Baafskathedraal. <a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="632d410b-02c7-4770-8b4f-421c1a3f83b2"
                        href="/nl/zien-doen/lam-gods-goddelijk-artistiek-hoogtepunt"
                        title="Lam Gods, goddelijk artistiek hoogtepunt"
                        >Kom een kijkje nemen en ga als een detective op zoek
                        naar de verborgen gezichten
                      </a>! En wie weet ontdek jij nog een nieuw mysterie?
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--image paragraph--view-mode--default"
          >
            <figure>
              <div
                class="field field--name-field-media-image field--type-entity-reference field--label-hidden field__item"
              >
                <div>
                  <div
                    class="field field--name-field-media-image field--type-image-with-copyright field--label-hidden field__item"
                  >
                    <img
                      src="https://visit.gent.be/sites/default/files/styles/paragraph_image/public/img/article/photos/gezicht%20in%20paneel%20Stadszicht.jpg?itok=LkPud8gq"
                      width="480"
                      height="480"
                      alt="Verborgen gezichten"
                      loading="lazy"
                      typeof="foaf:Image"
                      class="image-style-paragraph-image"
                    />
                  </div>
                </div>
              </div>

              <figcaption>
                <div
                  class="field field--name-field-image-caption field--type-string field--label-hidden field__item"
                >
                  Verborgen gezichten
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>7. DNA-sporen van Van Eyck</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      >Het Lam Gods zit vol details, tijdens de restauratie van
                      het schilderij vinden enkele restaurateurs <strong
                        >penseelharen
                      </strong><strong> </strong>terug. De haren zitten verweven
                      in de verf en hebben verschillende lengtes. Ook laten de
                      schilders <strong>vingerafdrukken</strong><strong>
                      </strong>na op hun werk. Hier en daar manipuleren ze de
                      verf met hun vingers, waardoor de vingerafdrukken
                      vereeuwigd zijn. Als je goed kijkt, vind je misschien een
                      haar of vingerafdruk terug. Als je nog niet overtuigd bent
                      om <a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="ae243d7a-0b2f-43be-8c1b-2078ecc9bbc9"
                        href="/nl/omg-van-eyck-was-here"
                        title="OMG! Van Eyck was here"
                        >het Lam Gods en Gent
                      </a>&nbsp;te bezoeken, kan de laatste&nbsp;reden&nbsp;je
                      misschien overtuigen!
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            class="paragraph paragraph--type--text paragraph--view-mode--default"
          >
            <div
              class="field field--name-field-heading field--type-heading field--label-hidden field__item"
            >
              <h2>8. Grootse werk van Jan Van Eyck</h2>
            </div>

            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item"
            >
              <p>
                <span
                  ><span
                    ><span
                      ><a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="7b820ebf-74fd-4af2-8ac1-25296f0c61f1"
                        href="/nl/blog/jan-van-eyck-grootmeester-en-genie"
                        title="Jan van Eyck, grootmeester en genie"
                        >Jan Van Eyck
                      </a>laat een twintigtal meesterwerken achter, die <strong
                        >wereldwijd verspreid
                      </strong> zitten in musea en collecties. Het leven van Jan
                      is voor een groot deel een mysterie, maar de twintig werken
                      hebben de eeuwen doorstaan! Voor zover we weten is één werk
                      nog in privéhanden. De andere werken hangen in musea over de
                      hele wereld. Zo stelt <strong
                        >The National Gallery Museum in Londen
                      </strong> de werken <em
                        >Portret van een man met rode tulband
                      </em> en <em
                        >Portret van Giovanni Arnolfini en zijn vrouw
                      </em> tentoon. Verder heeft <strong>het Louvre</strong>
                      <em>De Maagd van Kanselier Rolin</em>in zijn bezit. Maar
                      in <a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="1e94fa5f-0f94-4fa9-a3dd-58d3d5b9d6ca"
                        href="/nl/zien-doen/sint-baafskathedraal-majestueus-statig"
                        title="Sint-Baafskathedraal majestueus statig"
                        >de Sint-Baafskathedraal in Gent
                      </a> kan je zijn grootste werk, <a
                        data-entity-substitution="canonical"
                        data-entity-type="node"
                        data-entity-uuid="632d410b-02c7-4770-8b4f-421c1a3f83b2"
                        href="/nl/zien-doen/lam-gods-goddelijk-artistiek-hoogtepunt"
                        title="Lam Gods, goddelijk artistiek hoogtepunt"
                        >De Aanbidding van het&nbsp;Lam Gods
                      </a>, komen bewonderen.&nbsp;
                    </span>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
