---
import Layout from "../layouts/Layout.astro";

const title = "My Blog | JasperDeLanghe";
const description =
  "Read along my journey of becoming a better developer today than I was yesterday.  This blog is where I share my stories, tips, learnings, jokes and other braindumps.";
---

<Layout title={title} description={description} activePage="blog">
  <main
    class="container mx-auto max-w-5xl px-4 md:pl-16 lg:pl-20 xl:pl-4 mt-12 lg:mt-20"
  >
  </main>
</Layout>
