---
import Layout from "../layouts/Layout.astro";

const title = "Contact me | JasperDeLanghe";
const description =
  "If you wish to follow me on other social networks other than my own site, this is where you'll find those links. Business inquiries possible via email or twitter DM.";
---

<Layout title={title} description={description}>
  <main
    class="container mx-auto max-w-5xl px-4 md:pl-16 lg:pl-20 xl:pl-4 mt-12 lg:mt-20"
  >
  </main>
</Layout>
