---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my site. | JasperDeLanghe" activePage="home">
  <main
    class="container mx-auto max-w-5xl px-4 md:pl-16 lg:pl-20 xl:pl-4 mt-12 lg:mt-20"
  >
  </main>
</Layout>
