---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Projects | JasperDeLanghe" activePage="projects">
  <main
    class="container mx-auto max-w-5xl px-4 md:pl-16 lg:pl-20 xl:pl-4 mt-12 lg:mt-20"
  >
    <strong>Haha</strong>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos nam quia illum
    cumque. Iure ipsum consequatur deserunt magnam nobis cum sapiente aperiam? Dignissimos
    similique fugit provident natus ad repellendus quam.
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim magni nam
      sunt sed dignissimos reprehenderit! Voluptatem fugiat, odit nihil
      necessitatibus, quod sed recusandae repellendus adipisci id possimus eius
      aliquam alias!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio doloremque
      dolor totam, at quasi aperiam voluptatem possimus minus nostrum impedit
      distinctio voluptatum dolore neque facere iure optio provident
      consequuntur illo!
    </p>
  </main>
</Layout>
