---
import Layout from "../layouts/Layout.astro";

const title = "My Projects | JasperDeLanghe";
const description =
  "My projects on display for the world to see and to criticize. GitHub code available for every single one, some with working demo's or actual live links.";
---

<Layout title={title} description={description} activePage="projects">
  <main
    class="container mx-auto max-w-5xl px-4 md:pl-16 lg:pl-20 xl:pl-4 mt-12 lg:mt-20"
  >
  </main>
</Layout>
