---
import Links from "./Links.astro";
import SocialLinks from "../floating-socials/SocialLinks.astro";

export interface Props {
  active?: "home" | "projects" | "blog";
}

const { active } = Astro.props as Props;
---

<header class="container mx-auto max-w-5xl px-4 pt-4">
  <nav class="flex-wrap items-center flex justify-between">
    <div>
      <span class="font-display text-3xl text-slate-900">JasperDeLanghe</span>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="menu-button"
      class="h-6 w-6 cursor-pointer md:hidden block"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>

    <div
      class={`hidden w-full md:flex md:items-center md:w-auto border-b-2 md:border-b-0 border-red-600 py-2 md:py-0`}
      id="menu"
    >
      <Links active={active} />
      <div class="flex justify-evenly py-4 md:hidden">
        <SocialLinks />
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.querySelector("#menu-button");
    const menu = document.querySelector("#menu");
    button.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  });
</script>
