---
export interface Props {
  active: "home" | "projects" | "blog";
}

const { active } = Astro.props as Props;

const linkClasses = `hover:text-red-600 text-base`;
const activeClasses = `text-red-400`;

const buttonClass = `inline-block px-6 py-2.5 bg-red-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:ring-0 transition duration-150 ease-in-out`;
---

<nav>
  <a
    class={`${linkClasses} ${active === "home" && activeClasses} mr-3`}
    href="#"
    >Home
  </a>
  <a
    class={`${linkClasses} ${active === "projects" && activeClasses} mr-3`}
    href="#"
    >Projects
  </a>
  <a
    class={`${linkClasses} ${active === "blog" && activeClasses} mr-3`}
    href="#"
    >Blog
  </a>
  <a class={`${buttonClass}`} href="#">Contact</a>
</nav>
