---
const linkClasses = "hover:underline decoration-red-400 decoration-2";
---

<footer
  class="container mx-auto max-w-5xl px-4 pb-4 text-xs text-slate-500 mt-12"
>
  <div class="flex justify-between">
    <div>
      <a class={`${linkClasses}`} href="/cookies">Cookies</a>
    </div>
    <div class="text-right">
      &copy; 2022 | <a
        class={linkClasses}
        rel="nofollow"
        href="https://twitter.com/Soepser"
        target="_blank"
        >@Soepser
      </a>
    </div>
  </div>

  <!-- Load scripts -->
  <script src="assets/scripts/main.js">

  </script>
</footer>
