---
import Layout from "./Layout.astro";

const { content } = Astro.props;
const { title, description } = content;
---

<Layout title={title} description={description} activePage="blog">
  <main class="container mx-auto max-w-5xl px-4 xl:pl-4 mt-12 lg:mt-20">
    <!-- Hero section -->
    <div class="mx-auto prose prose-slate lg:prose-lg">
      <article>
        <slot></slot>
      </article>
    </div>
  </main>
</Layout>
